$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/***

SCSS Variables

***/

/*** Colors ***/

$darkPrimary : #34363C;
$darkSecondary : #444A59;
$lightPrimary : #FFF;
$unique : #EF2C2C;

/*** Font Sizes ***/

$header : 30px;
$sub-header : 22px;
$text : 12px;

/*** Fonts ***/

$font : 'Open Sans', sans-serif;
$font2 : 'Montserrat', sans-serif;
$font3 : 'Crimson Text', serif;

/*** Padding ***/

$padding: 15px;

body {
  font-family: $font2;
}


@font-face {
  font-family: visby;
  src: url("VisbyCF-Bold.ttf");
}

@import 'styles/layout/_header';
@import 'styles/layout/_footer';
@import 'styles/layout/_contact';
@import 'styles/layout/_blog';
@import 'styles/layout/_home';
@import 'styles/layout/_about';