$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
nav {
    border: 1px solid purple;
    display: flex;
    ul {
        padding-left: 0px;
        margin: 0px;
        display: flex;
        list-style-type: none;
        flex: 1;
        li {
            border: 1px solid;
            flex: 1;
        }
    }
}
