.form-group {
    margin: 0;
}

legend {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

button.btn.btn-primary {
    margin: 10px 20px 10px 18px;
    font-size: 18px;
    width: 326px;
    background-color:#005400;
}