.form-group {
    margin: 0;
}

legend {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

button.btn.btn-primary {
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
    background-color:#005400;
}

label {
text-transform: uppercase;
}

.form-control {
    border: 1.5px solid #005400;
}

button.btn.btn-primary:hover {
    background-color:green;
}

form#contactForm {
    padding-top: 20px;
    padding-bottom: 10px;
}
