header{
  border-bottom: 1px solid green;
  margin-bottom: 20px;
}

a#link {
    position: absolute;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    color: #005400;
    padding-top: 28px;
}

header.container-fluid {
  padding: 5px 35px 5px 35px;
}

.col-md-2.col-lg-2.col-sm-2{
    width: 14.7%;
}

.col-md-3.col-lg-3.col-sm-3{
    width: 37%;
}