span.glyphicon.glyphicon-chevron-left {
    visibility: hidden;
}
span.glyphicon.glyphicon-chevron-right {
    visibility: hidden;
}

h2 {
    text-align: center;
}

p#carousel{
    text-shadow: 5px 5px 5px black;
    text-align: center;
}

ol.carousel-indicators {
    visibility: hidden;
}

.carousel-inner{
	margin-bottom: 10px;
}


p#carousel{

  @media (min-width: $screen-sm-min) {

  }
  @media (min-width: $screen-md-min) {
  }
  @media (min-width: $screen-lg-min) {
    font-size: 40px;
  }

}