span.glyphicon.glyphicon-chevron-left {
    visibility: hidden;
}
span.glyphicon.glyphicon-chevron-right {
    visibility: hidden;
}

h2 {
    text-align: center;
}

p.ng-binding {
    font-size: 50px;
    text-shadow: 5px 5px 5px black;
}

ol.carousel-indicators {
    visibility: hidden;
}